@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

.linkText {
  @apply font-medium text-text dark:text-white dark:hover:opacity-50 hover:text-opacity-50;
}

.textStyle {
  @apply text-text dark:text-white;
}

@layer utilities {
  
    .container {
    margin-left: 1rem;
    margin-right: 1rem;
    width: auto;
  }

  @media (min-width: 640px) {
    .container {
      margin-left: 6rem;
      margin-right: 6rem;
      width: auto;
    }
  }

  @media (min-width: 768px) {
    .container {
      margin-left: 9rem;
      margin-right: 9rem;
      width: auto;
    }
  }


  @media (min-width: 1000px) {
    .container {
      margin-left: 12rem;
      margin-right: 12rem;
      width: auto;
    }
  }
  
}

  @media (min-width: 1250px) {
      .container {
        margin-left: 14rem;
        margin-right: 14rem;
        width: auto;
    }
  }
  
    