@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    margin-left: 120px;
    margin-right: 120px;
    max-width: calc(100% - 240px);
    width: auto;
  }
}